body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/**************** TRANSFORM EXAMPLE ****************/

.grow {
    font-size: 20px;
    color: white;
    background-color: rgb(43, 100, 235);
    width: 150px;
    height: 60px;
    border-radius: 10px;
    border: none;
    transition: all .2s ease-in-out;
}

.grow:hover {
    font-size: 24px;
    width: 170px;
    height: 70px;
}
